#menu {
    float:left; 
    position: relative; 
    width: 25%; 
    background-color: purple; 
    height: 100%; 
    color: rgba(255, 244, 244, 0.877);
    /*padding: 1%;*/
}

#main {
    float:right; 
    position: relative; 
    width: 75%; 
    height: 100%;
}

.keyboard-key {
    border: 2px solid grey;
    background-color: lightblue;
    color: rgb(104, 102, 102);
    padding: 1px;
    width: 6%;
    text-align: center;
    display: inline-block;
}

#render-canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}